{{define "auth/login"}}
    {{template "head" .}}
    {{template "loading" .}}
    <div id="auth-login" class="h-full loading-hidden">
      <img src="/static/images/login-bg.jpg" alt="" class="absolute  w-full h-full">
      <div class="w-2/5 h-full px-24 relative z-10 bg-white shadow-2xl float-right animate__animated animate__fadeInRight">
        <div class="h-full flex flex-col justify-center">
          <a href="/">
            <img class="h-16" src="/static/images/logo.png" alt="">
          </a>
          <div class="mt-6">
            <span class="text-4xl text-black font-bold">登录你的账户</span>
          </div>
          <div class="divider my-8">账户信息</div>
          <div class="form-control w-full">
            <label class="label" for="username">
              <span class="label-text text-black text-2xl">用户名</span>
            </label>
            <input
              id="username"
              type="text"
              placeholder="用户名 或 邮箱"
              class="input input-bordered input-info w-full input-md"/>
          </div>
          <div class="form-control w-full">
            <label class="label" for="password">
              <span class="label-text text-black text-2xl">密码</span>
            </label>
            <input
              id="password"
              type="text"
              placeholder="密码"
              class="input input-bordered input-info w-full input-md"/>
          </div>
          <div class="divider my-8">登录按钮</div>
          <div class="form-control w-full mt-4">
            <button class="btn btn-primary w-full">登录</button>
          </div>
        </div>
      </div>
    </div>
    {{template "foot" .}}
    <script type="module">
      import { createApp, api, msg } from "/static/main.js"
      const { auth } = api

      createApp({
        compilerOptions: {
          delimiters: ['${', '}']
        },
        data() {
          return {
            form: {
              username: "",
              password: ""
            }
          }
        },
        methods: {
          async login() {
            try {
              const res = await auth.login(this.form)
              if (!res.code) {
                msg.success(res.msg)
                setTimeout(() => {
                  window.location = "/"
                }, 2000)
                return
              }

              setTimeout(() => {
                this.loading = false
              }, 1000)
            } catch (error) {
              console.log("Error: ", error)
            }
          }
        }
      }).mount("#auth-login")
    </script>
{{end}}
