{{define "auth/register"}}
    {{template "head" .}}
    {{template "loading" .}}
    <div id="auth-register" class="h-full flex hidden">
      <img src="/static/images/register-bg.jpg" alt="" class="absolute w-full h-full">
      <div class="w-2/5 h-full px-24 relative z-10 bg-white shadow-2xl animate__animated animate__fadeInLeft"
           data-simplebar>
        <div class="h-full flex flex-col justify-center">
          <a href="/">
            <img class="h-16" src="/static/images/logo.png" alt="">
          </a>
          <div class="mt-6">
            <span class="text-4xl text-black font-bold">注册新的账户</span>
          </div>
          <div class="divider my-8">账户信息</div>
          <div class="form-control w-full">
            <label class="label" for="username">
              <span class="label-text text-black text-2xl">用户名</span>
            </label>
            <input
              id="username"
              type="text"
              placeholder="用户名 或 邮箱"
              v-model="form.username"
              class="input input-bordered input-info w-full input-md"/>
          </div>
          <div class="form-control w-full">
            <label class="label" for="password">
              <span class="label-text text-black text-2xl">密码</span>
            </label>
            <input
              id="password"
              type="text"
              placeholder="密码"
              v-model="form.password"
              class="input input-bordered input-info w-full input-md"/>
          </div>
          <div class="form-control w-full">
            <label class="label" for="password-rep">
              <span class="label-text text-black text-2xl">重复密码</span>
            </label>
            <input
              id="password-rep"
              type="text"
              placeholder="重复密码"
              v-model="form.passwordRep"
              class="input input-bordered input-info w-full input-md"/>
          </div>
          <div class="divider my-8">注册按钮</div>
          <div class="form-control w-full mt-4">
            <button class="btn btn-primary w-full" @click="register">注册</button>
          </div>
        </div>
      </div>
    </div>
    {{template "foot" .}}
    <script type="module">
      import { createApp, api } from "/static/main.js"
      const { auth } = api

      createApp({
        compilerOptions: {
          delimiters: ['${', '}']
        },
        data() {
          return {
            form: {
              username: "",
              password: "",
              passwordRep: ""
            }
          }
        },
        methods: {
          async register() {
            if (this.form.password !== this.form.passwordRep) {
              console.log('Error')
              return
            }
            const res = await auth.register(this.form)
            if (!res.code) {
              console.log("Res: ", res)
            }
          }
        }
      }).mount("#auth-register")
    </script>
{{end}}
