{{define "auth/register"}}
    {{template "head" .}}
    {{template "loading" .}}
    <div id="auth-register" class="h-full flex loading-hidden">
      <img src="/static/images/register-bg.jpg" alt="" class="absolute w-full h-auto lg:h-full">
      <div class="w-full lg:w-2/5 h-full px-8 lg:px-24 relative z-10 bg-white shadow-2xl animate__animated animate__fadeInLeft"
           data-simplebar>
        <div class="h-full flex flex-col justify-center">
          <a href="/">
            <img class="h-16" src="/static/images/logo.png" alt="">
          </a>
          <div class="mt-4">
            <span class="text-4xl text-black font-bold">注册新的账户</span>
          </div>
          <div class="divider my-4">账户信息</div>
          <div class="form-control w-full">
            <input type="hidden" name="csrf_token" value="{{.csrf_token}}">
            <label class="label" for="email">
              <span class="label-text text-black text-2xl">邮箱</span>
            </label>
            <input
              id="email"
              type="text"
              placeholder="邮箱"
              v-model="form.email"
              class="input input-bordered input-info w-full input-md"/>
          </div>
          <div class="form-control w-full">
            <label class="label" for="username">
              <span class="label-text text-black text-2xl">用户名</span>
            </label>
            <input
              id="username"
              type="text"
              placeholder="用户名"
              v-model="form.username"
              class="input input-bordered input-info w-full input-md"/>
          </div>
          <div class="form-control w-full">
            <label class="label" for="password">
              <span class="label-text text-black text-2xl">密码</span>
            </label>
            <input
              id="password"
              type="password"
              placeholder="密码"
              v-model="form.password"
              @change="changePassword"
              class="input input-bordered input-info w-full input-md"/>
          </div>
          <div class="form-control w-full">
            <label class="label" for="password-rep">
              <span class="label-text text-black text-2xl">重复密码</span>
            </label>
            <input
              id="password-rep"
              type="password"
              placeholder="重复密码"
              v-model="form.passwordRep"
              @change="changePasswordRep"
              class="input input-bordered input-info w-full input-md"/>
          </div>
          <div class="divider my-4">注册按钮</div>
          <div class="form-control w-full mt-4">
            <button class="btn btn-primary w-full" :class="{loading: loading, animate__rubberBand: loading}" @click="register">注册</button>
          </div>
        </div>
      </div>
    </div>
    {{template "foot" .}}
    <script type="module">
      import { createApp, api, msg, $, hash } from "/static/main.js"
      const { auth } = api

      createApp({
        compilerOptions: {
          delimiters: ['${', '}']
        },
        data() {
          return {
            loading: false,
            form: {
              email: "",
              username: "",
              password: "",
              passwordRep: "",
              csrf_token: "{{.csrf_token}}",
            }
          }
        },
        methods: {
          changePassword(event) {
            this.form.password = hash.SHA256(event.target.value)
          },
          changePasswordRep(event) {
            this.form.passwordRep = hash.SHA256(event.target.value)
          },
          async register() {
            const animate = $(".animate__animated")
            animate.removeClass("animate__fadeInLeft")
            try {
              animate.addClass("animate__shakeY")
              this.loading = true
              if (this.form.password !== this.form.passwordRep) {
                msg.error("密码不一致")
                return
              }
              const res = await auth.register(this.form)
              if (!res.code) {
                msg.success(res.msg)
                setTimeout(() => {
                  window.location.href = "/auth/login"
                }, 1000)
              }
            } finally {
              setTimeout(() => {
                this.loading = false
                animate.removeClass("animate__shakeY")
              }, 1000)
            }
          }
        }
      }).mount("#auth-register")
    </script>
{{end}}
