{{define "head"}}
<!doctype html>
<html lang="zh-CN" data-theme="{{.app_theme}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.app_title}}</title>
    {{template "css" .}}
</head>
<body>
<div id="app" class="fixed inset-0">
{{template "alert" .}}
{{end}}

{{define "foot"}}
</div>
{{template "js" .}}
{{template "icon"}}
</body>
</html>
{{end}}
