{{define "icon"}}
  <i class="icon-[line-md--home] hidden" role="img" aria-hidden="true"></i>
  <i class="icon-[line-md--cog-loop] hidden" role="img" aria-hidden="true"></i>
  <i class="icon-[line-md--person-add] hidden" role="img" aria-hidden="true"></i>
  <i class="icon-[line-md--person-filled] hidden" role="img" aria-hidden="true"></i>
  <i class="icon-[line-md--cancel-twotone] hidden" role="img" aria-hidden="true"></i>
  <i class="icon-[line-md--align-left] hidden" role="img" aria-hidden="true"></i>
{{end}}
