{{define "js"}}
  <script src="/public/static/main.umd.cjs"></script>
  <script type="module">
    import { $, themeChange } from '/public/static/main.js'
    $(async () => {
      themeChange(false)
    })
  </script>
{{end}}
