# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
gower

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
output
output/*

# Dependency directories (remove the comment below to include it)
vendor/
node_modules/

# IDE files
.idea/
.vscode/

# Environment files
.env
.env.test
.env.prod
!.env.default
!.env.example
!.env.dev

envs/.env
envs/.env.test
envs/.env.prod
!envs/.env.default
!envs/.env.example
!envs/.env.dev

# Logs and databases
*.log
*.sqlite
*.db

# System files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
ehthumbs_vista.db
*.stackdump

# Symbol Files
static

.gradle/
build/
