[Unit]
Description=gower service
After=network.target

[Service]
User=root
WorkingDirectory=/go/bin/gower
ExecStart=/go/bin/gower/gower run
Restart=always

[Install]
WantedBy=multi-user.target
