[Unit]
Description=Gower
After=network.target

[Service]
User=root
WorkingDirectory=/go/bin
ExecStart=/go/bin/gower run
Restart=always

[Install]
WantedBy=multi-user.target
