{{define "head"}}
<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>
    {{template "css" .}}
</head>
<body>
{{end}}

{{define "foot"}}
</body>
{{template "js" .}}
</html>
{{end}}
