{{define "admin/head"}}
{{template "head" .}}
<div class="w-full h-full layout bg-base-300 relative">
  <img src="/public/static/images/admin-bg.jpg" alt="" class="absolute w-full h-full opacity-10">
  <ul class="menu p-2 w-56 absolute top-[5rem] left-1 bottom-1 z-10 rounded-box ring-1 bg-base-300 hidden lg:block animate__animated">
    {{range .admin_menus}}
    <li>
      {{if .children}}
      <details>
        <summary>
          <a class="flex items-center" id="menu-{{.id}}" data-id="{{.id}}" {{with .path}}data-href="{{.}}"{{end}}>
            {{with .icon}}
            <i class="icon-[{{.}}] text-lg" role="img" aria-hidden="true"></i>
            {{else}}
            <i class="icon-[svg-spinners--wind-toy] text-lg" role="img" aria-hidden="true"></i>
            {{end}}
            <span class="ml-2">{{.name}}</span>
          </a>
        </summary>
        <ul>
          {{range (assertAnySlice .children)}}
          <li>
            <a class="flex items-center" id="menu-{{.id}}" data-id="{{.id}}" {{with .path}}data-href="{{.}}"{{end}}>
              {{with .icon}}
              <i class="icon-[{{.}}] text-lg" role="img" aria-hidden="true"></i>
              {{else}}
              <i class="icon-[svg-spinners--wind-toy] text-lg" role="img" aria-hidden="true"></i>
              {{end}}
              {{.name}}
            </a>
          </li>
          {{end}}
        </ul>
      </details>
      {{else}}
      <a class="flex items-center" id="menu-{{.id}}" data-id="{{.id}}" {{with .path}}data-href="{{.}}"{{end}}>
        {{with .icon}}
        <i class="icon-[{{.}}] text-lg" role="img" aria-hidden="true"></i>
        {{else}}
        <i class="icon-[svg-spinners--wind-toy] text-lg" role="img" aria-hidden="true"></i>
        {{end}}
        {{.name}}
      </a>
      {{end}}
    </li>
    {{end}}
  </ul>
  <div class="content py-2 absolute top-[5rem] right-1 bottom-1 lg:left-[14.35rem] left-1 rounded-md ring-1 overflow-hidden animate__animated animate__headShake"
       data-simplebar>
    <div class="text-sm breadcrumbs px-4">
      {{with .breadcrumbs}}
      <ul>
        {{range .}}
        <li>
          <a href="{{.path}}">{{.name}}</a>
        </li>
        {{end}}
      </ul>
      {{else}}
      <ul>
        <li>
          <a href="/admin">主页</a>
        </li>
      </ul>
      {{end}}
    </div>
    {{end}}

    {{define "admin/foot"}}
    <footer class="footer footer-center py-4 mt-4 bg-base-300 text-base-content absolute bottom-0">
      <div>
        <p>Copyright © 2023 - All right reserved by Gower</p>
      </div>
    </footer>
  </div>
  <div class="navbar w-auto absolute top-1 inset-x-1 rounded-md ring-1 animate__animated">
    <div class="flex-none">
      <button class="btn btn-square btn-ghost menu-ctrl">
        <i class="icon-[svg-spinners--blocks-wave] text-xl" role="img" aria-hidden="true"></i>
      </button>
    </div>

    <div class="flex-1">
      <a href="/admin" class="btn btn-ghost normal-case text-xl">Gower Admin</a>
    </div>

    <div class="flex-none gap-2">
      <div class="dropdown">
        <div tabindex="0" role="button" class="btn m-1">
          主题
          <svg
            width="12px"
            height="12px"
            class="inline-block h-2 w-2 fill-current opacity-60"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 2048 2048">
            <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
          </svg>
        </div>
        <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl max-h-[300px] overflow-y-auto">
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Light"
              data-set-theme="light" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Dark"
              data-set-theme="dark" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Cupcake"
              data-set-theme="cupcake" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Bumblebee"
              data-set-theme="bumblebee" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Emerald"
              data-set-theme="emerald" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Corporate"
              data-set-theme="corporate" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Synthwave"
              data-set-theme="synthwave" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Retro"
              data-set-theme="retro" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Cyberpunk"
              data-set-theme="cyberpunk" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Valentine"
              data-set-theme="valentine" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Halloween"
              data-set-theme="halloween" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Garden"
              data-set-theme="garden" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Forest"
              data-set-theme="forest" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Aqua"
              data-set-theme="aqua" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Lofi"
              data-set-theme="lofi" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Pastel"
              data-set-theme="pastel" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Fantasy"
              data-set-theme="fantasy" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Wireframe"
              data-set-theme="wireframe" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Black"
              data-set-theme="black" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Luxury"
              data-set-theme="luxury" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Dracula"
              data-set-theme="dracula" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Cmyk"
              data-set-theme="cmyk" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Autumn"
              data-set-theme="autumn" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Business"
              data-set-theme="business" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Acid"
              data-set-theme="acid" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Lemonade"
              data-set-theme="lemonade" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Night"
              data-set-theme="night" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Coffee"
              data-set-theme="coffee" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Winter"
              data-set-theme="winter" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Dim"
              data-set-theme="dim" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Nord"
              data-set-theme="nord" />
          </li>
          <li>
            <input
              type="radio"
              name="theme-dropdown"
              class="theme-controller btn btn-sm btn-block btn-ghost justify-start"
              aria-label="Sunset"
              data-set-theme="sunset" />
          </li>
        </ul>
      </div>
      <button class="btn btn-ghost btn-circle">
          <span class="indicator">
            <i class="icon-[line-md--bell-twotone-loop] text-xl" role="img" aria-hidden="true"></i>
            <span class="badge badge-xs badge-secondary indicator-item">5</span>
          </span>
      </button>
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <span class="w-10 rounded-full">
              <img src="/public/static/images/avatar.png"  alt=""/>
            </span>
        </label>
        <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
          <li>
            <a>个人主页</a>
          </li>
          <li>
            <a>设置</a>
          </li>
          <li>
            <a class="logout">退出</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
{{template "foot" .}}
<script type="module">
  import { $, util, msg, api, cookie } from "/public/static/main.js"
  const { admin } = api

  $(() => {
    $(`.menu a[data-href="${window.location.pathname}"]`).parents('details').attr('open', true)

    const id = localStorage.getItem("menu-active")
    if (id) {
      $(`#menu-${id}`).addClass("active")
    } else {
      $(`#menu-1`).addClass("active")
    }
  })

  $(".logout").on("click", () => {
    msg.confirm("是否退出", async () => {
      const res = await admin.logout()
      if (!res.code) {
        msg.success(res.msg)
        setTimeout(() => {
          cookie.remove("admin-token")
          window.location.href = "/admin"
        }, 2000)
      }
    })
  })

  $(".menu-ctrl").on("click", () => {
    const menu = $(".menu"), content = $(".content")
    if (menu.hasClass("animate__fadeInUp")) {
      menu.removeClass("animate__fadeInUp").addClass("animate__fadeOutLeft")
      if (!util.isPhone()) {
        setTimeout(() => {
          content.addClass("animate__jackInTheBox")
        })
        content.removeClass("lg:left-[14.35rem]").removeClass("animate__jackInTheBox")
      }
      if (util.isPhone() && menu.hasClass("hidden")) {
        menu.removeClass("hidden").removeClass("animate__fadeOutLeft").addClass("animate__fadeInUp")
      }
    } else {
      menu.removeClass("hidden").removeClass("animate__fadeOutLeft").addClass("animate__fadeInUp")
      if (!util.isPhone()) {
        setTimeout(() => {
          content.addClass("animate__jackInTheBox")
        })
        content.addClass("lg:left-[14.35rem]").removeClass("animate__jackInTheBox")
      }
    }
  })

  $(".menu a").on("click", function () {
    const elem = $(this),
      id = elem.data("id"),
      href = elem.data("href")

    localStorage.setItem("menu-active", id)
    if (href) {
      window.location.href = href
    }
  })

</script>
{{end}}
