{{define "admin/head"}}
  {{template "head" .}}
  <div class="w-full h-full layout bg-[url('/static/images/admin-bg.jpg')] bg-no-repeat bg-cover">
    <ul class="menu p-2 bg-gradient-to-b from-slate-300 bg-opacity-80 w-56 absolute top-[4.5rem] left-1 bottom-1 z-10 rounded-box ring-1 hidden lg:block animate__animated animate__fadeInUp">
      {{range .admin_menus}}
      <li class="hover-bordered">
        <a id="menu-{{.id}}" data-id="{{.id}}" {{with .path}}data-href="{{.}}"{{end}}>
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            {{with .icon}}
            <path d="{{.}}"/>
            {{else}}
            <path d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .307 5.387.307 12s5.56 12 12.173 12c3.573 0 6.267-1.173 8.373-3.36 2.16-2.16 2.84-5.213 2.84-7.667 0-.76-.053-1.467-.173-2.053H12.48z"/>
            {{end}}
          </svg>
          {{.name}}
        </a>
        {{with .children}}
        <ul class="rounded-box p-2 bg-base-100">
          {{range (assertAnySlice .)}}
          <li>
            <a id="menu-{{.id}}" data-id="{{.id}}" {{with .path}}data-href="{{.}}"{{end}}>
              <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                {{with .icon}}
                <path d="{{.}}"/>
                {{else}}
                <path d="M12.48 10.92v3.28h7.84c-.24 1.84-.853 3.187-1.787 4.133-1.147 1.147-2.933 2.4-6.053 2.4-4.827 0-8.6-3.893-8.6-8.72s3.773-8.72 8.6-8.72c2.6 0 4.507 1.027 5.907 2.347l2.307-2.307C18.747 1.44 16.133 0 12.48 0 5.867 0 .307 5.387.307 12s5.56 12 12.173 12c3.573 0 6.267-1.173 8.373-3.36 2.16-2.16 2.84-5.213 2.84-7.667 0-.76-.053-1.467-.173-2.053H12.48z"/>
                {{end}}
              </svg>
              {{.name}}
            </a>
          </li>
          {{end}}
        </ul>
        {{end}}
      </li>
      {{end}}
    </ul>
    <div class="content py-2 px-4 bg-gradient-to-br from-slate-300 bg-opacity-80 absolute top-[4.5rem] right-1 bottom-1 lg:left-[14.35rem] left-1 rounded-md ring-1 animate__animated animate__rollIn overflow-auto" data-simplebar>
      <div class="text-sm breadcrumbs">
        <ul>
          <li>
            <a href="/admin">主页</a>
          </li>
        </ul>
      </div>
{{end}}

{{define "admin/foot"}}
      <footer class="footer footer-center p-4 mt-4 bg-base-300 text-base-content">
        <div>
          <p>Copyright © 2023 - All right reserved by Gower</p>
        </div>
      </footer>
    </div>
    <div class="navbar bg-gradient-to-r from-slate-300 bg-opacity-80 w-auto absolute top-1 inset-x-1 rounded-md ring-1 animate__animated animate__fadeInRight">
      <div class="flex-none">
        <button class="btn btn-square btn-ghost menu-ctrl">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </button>
      </div>

      <div class="flex-1">
        <a href="/admin" class="btn btn-ghost normal-case text-xl">Gower Admin</a>
      </div>

      <div class="flex-none gap-2">
        <button class="btn btn-ghost btn-circle">
          <div class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /></svg>
            <span class="badge badge-xs badge-secondary indicator-item">5</span>
          </div>
        </button>
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn btn-ghost btn-circle avatar">
            <div class="w-10 rounded-full">
              <img src="/static/images/avatar.png" />
            </div>
          </label>
          <ul tabindex="0" class="mt-3 p-2 shadow menu menu-compact dropdown-content bg-base-100 rounded-box w-52">
            <li>
              <a>个人主页</a>
            </li>
            <li>
              <a>设置</a>
            </li>
            <li>
              <a class="logout">退出</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{template "foot" .}}
  <script type="module">
    import { $, util, msg, api, cookie } from "/static/main.js"
    const { admin } = api

    $(() => {
      const id = localStorage.getItem("menu-active")

      if (id) {
        $(`#menu-${id}`)
          .addClass("active")
          .parents("ul")
          .siblings("a")
          .addClass("active")
      } else {
        $(`#menu-1`).addClass("active")
      }

    })

    $(".menu-ctrl").on("click", () => {
      const menu = $(".menu"), content = $(".content")
      if (menu.hasClass("animate__fadeInUp")) {
        menu.removeClass("animate__fadeInUp").addClass("animate__fadeOutLeft")
        if (!util.isPhone()) {
          setTimeout(() => {
            content.addClass("animate__rollIn")
          })
          content.removeClass("lg:left-[14.35rem]").removeClass("animate__rollIn")
        }
        if (util.isPhone() && menu.hasClass("hidden")) {
          menu.removeClass("hidden").removeClass("animate__fadeOutLeft").addClass("animate__fadeInUp")
        }
      } else {
        menu.removeClass("hidden").removeClass("animate__fadeOutLeft").addClass("animate__fadeInUp")
        if (!util.isPhone()) {
          setTimeout(() => {
            content.addClass("animate__rollIn")
          })
          content.addClass("lg:left-[14.35rem]").removeClass("animate__rollIn")
        }
      }
    })

    $(".logout").on("click", () => {
      msg.confirm("是否退出", async () => {
        const res = await admin.logout()
        if (!res.code) {
          msg.success(res.msg)
          setTimeout(() => {
            cookie.remove("admin-token")
            window.location.href = "/admin"
          }, 2000)
        }
      })
    })

    $(".menu a").on("click", function () {
      const elem = $(this),
        id = elem.data("id"),
        href = elem.data("href")

      localStorage.setItem("menu-active", id)
      if (href) {
        window.location.href = href
      }
    })

  </script>
{{end}}
