{{define "home/index"}}
    {{template "head" .}}
    <div id="home-index" class="isolate bg-gray-100 h-full"
         data-simplebar>
      <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu blur-3xl sm:top-[-20rem] bottom-0">
        <svg
          class="relative opacity-50 left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem]"
          id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
          viewBox="0 0 285 114" xml:space="preserve">
          <image class="h-40" width="600" height="600" href="/public/static/images/logo.png"/>
        </svg>
      </div>
      <div class="px-6 pt-6 lg:px-8">
        <nav class="flex items-center justify-between" aria-label="Global">
          <div class="flex lg:flex-1">
            <a href="/" class="-m-1.5 p-1.5">
              <img class="h-12 animate__animated animate__fadeInLeft" src="/public/static/images/logo.png" alt="">
            </a>
          </div>
          <div class="flex lg:hidden">
            <button type="button" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
              <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                   aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:gap-x-12 animate__animated animate__fadeInDown">
            <a href="https://gitee.com/falling-ts/gower"
               target="_blank"
               class="text-sm font-semibold leading-6 text-gray-900 cursor-pointer">Gitee</a>
            <a href="https://github.com/falling-ts/gower"
               target="_blank"
               class="text-sm font-semibold leading-6 text-gray-900 cursor-pointer">GitHub</a>
            <a target="_blank"
               class="text-sm font-semibold leading-6 text-gray-900 cursor-pointer"
               @click="apiHello">接口测试</a>
            <a href="/admin"
               target="_blank"
               class="text-sm font-semibold leading-6 text-gray-900 cursor-pointer">后台管理</a>
            <a
              v-if="upload.url"
              :href="upload.url"
              class="text-sm font-semibold leading-6 text-gray-900 cursor-pointer"
              target="_blank">查看文件</a>
            <input
              type="file"
              accept="image/jpeg, image/png, image/gif, image/webp, image/bmp, image/svg+xml, image/tiff"
              class="file-input w-full max-w-xs"
              placeholder="文件上传测试"
              @change="onFileChange"/>
          </div>
          {{ if .name }}
            <div class="hidden lg:flex lg:flex-1 lg:justify-end animate__animated animate__fadeInDown cursor-pointer dropdown dropdown-end">
              <div tabindex="0" class="avatar">
                <div class="h-10 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                  <img src="{{.avatar}}" alt=""/>
                </div>
              </div>
              <div tabindex="0" class="mx-4 h-10 flex justify-center items-center">{{.name}}</div>
              <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                <li><a class="btn btn-warning btn-outline mr-4 w-full" @click="logout">退出</a></li>
              </ul>
            </div>
          {{ else }}
            <div class="hidden lg:flex lg:flex-1 lg:justify-end animate__animated animate__fadeInDown">
              <a href="/auth/register" class="btn btn-active btn-secondary mr-4 w-20">注册</a>
              <a href="/auth/login" class="btn btn-outline btn-accent">登录 <i class="icon-[svg-spinners--bars-scale-fade]" role="img" aria-hidden="true"></i></a>
            </div>
          {{end}}
        </nav>

        {{/* mobile main */}}
        <div role="dialog" aria-modal="true">
          <div class="fixed inset-0 z-10 overflow-y-auto bg-white px-6 py-6 lg:hidden">
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <img class="h-8" src="/public/static/images/favicon.png" alt="">
              </a>
              <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                  <a href="https://gitee.com/falling-ts/gower" target="_blank"
                     class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10 cursor-pointer">Gitee</a>
                  <a href="https://github.com/falling-ts/gower" target="_blank"
                     class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10 cursor-pointer">GitHub</a>
                  <a target="_blank"
                     class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10 cursor-pointer"
                     @click="apiHello">接口测试</a>
                  <a href="/admin" target="_blank"
                     class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10 cursor-pointer">后台管理</a>
                  <a
                    v-if="upload.url"
                    :href="upload.url"
                    class="-mx-3 block rounded-lg py-2 px-3 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-400/10 cursor-pointer"
                    target="_blank">查看文件</a>
                  <input
                    type="file"
                    accept="image/jpeg, image/png, image/gif, image/webp, image/bmp, image/svg+xml, image/tiff"
                    class="file-input w-full max-w-xs"
                    placeholder="文件上传测试"
                    @change="onFileChange"/>
                </div>
                {{ if .name }}
                  <div class="py-6 flex flex-col space-y-4 dropdown dropdown-end">
                    <div tabindex="0" class="avatar">
                      <div class="h-10 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                        <img src="{{.avatar}}" alt=""/>
                      </div>
                    </div>
                    <div tabindex="0" class="mx-4 h-10 flex justify-center items-center">{{.name}}</div>
                    <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                      <li><a class="btn btn-warning btn-outline mr-4 w-full" @click="logout">退出</a></li>
                    </ul>
                  </div>
                {{ else }}
                  <div class="py-6 flex flex-col space-y-4">
                    <a href="/auth/register" class="btn btn-active btn-secondary">注册</a>
                    <a href="/auth/login" class="btn btn-outline btn-accent">登录</a>
                  </div>
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <main>
        <div class="relative px-6 lg:px-8 animate__animated animate__jackInTheBox">
          <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
            <div class="hidden sm:mb-8 sm:flex sm:justify-center"></div>
            <div class="text-center">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Go/Gin Gower Web 启动框架</h1>
              <p class="mt-6 text-lg leading-8 text-gray-600">Go 语言开发 Web 应用的快速入门目录，默认使用模板集成模式，不使用前后端分离。</p>
              <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="https://github.com/falling-ts/gower-work" class="btn btn-primary">快速开始</a>
                <a href="https://falling-ts.github.io/gower-docs" class="btn btn-outline btn-info text-sm font-semibold leading-6 text-gray-900">
                  查看更多
                  <i class="icon-[svg-spinners--bars-scale-fade]" role="img" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    {{template "foot" .}}
    <script type="module">
      import { createApp, api, msg, cookie } from "/public/static/main.js"
      const { auth, v1 } = api

      createApp({
        compilerOptions: {
          delimiters: ['${', '}']
        },
        data() {
          return {
            helloData: {
              test: '123',
              name: 'Gower'
            },
            upload: {
              path: '',
              url: ''
            }
          }
        },
        methods: {
          async apiHello() {
            const res = await v1.hello(this.helloData)
            if (!res.code) {
              msg.info(res.msg)
            }
          },
          logout() {
            msg.confirm("是否退出", async () => {
              const res = await auth.logout()
              if (!res.code) {
                msg.success(res.msg)
                setTimeout(() => {
                  cookie.remove("token")
                  window.location.href = "/"
                }, 2000)
              }
            })
          },
          async onFileChange(event) {
            const formData = new FormData();
            formData.append("image", event.target.files[0])

            const res = await v1.image(formData)
            if (!res.code) {
              msg.success(res.msg)
              console.log(res)

              this.upload = res.data
            }
          }
        }
      }).mount("#home-index")
    </script>
{{end}}

