{
  debug
  log {
    output file /var/log/caddy.log
    level INFO
  }
}

# development, test, production
localhost, www.qq.com, www.weixin.com {
  tls internal

  root * /public

  handle /static/* {
    file_server
  }
  handle /upload/* {
    file_server
  }

  handle {
    reverse_proxy gower:8080
  }
}
