{{define "component/grid/filter"}}
<form
  class="rounded ring-2 px-4 py-2 flex flex-wrap"
  method="GET"
  action="{{.resource}}">
  {{range .filters}}
  {{if eq .type "checkbox"}}
  <div class="flex items-center mt-1 w-full lg:w-1/3">
    <label for="filter-{{.name}}" class="label cursor-pointer w-1/3 lg:w-auto">{{.label}}</label>
    <input id="filter-{{.name}}" name="{{.name}}" type="checkbox" {{if .value}}checked{{end}} class="checkbox" />
  </div>
  {{else if eq .type "select"}}
  <div class="flex items-center mt-1 w-full lg:w-1/3">
    <label for="filter-{{.name}}" class="label cursor-pointer w-1/3 lg:w-auto">{{.label}}</label>
    <select id="filter-{{.name}}" name="{{.name}}" class="select select-bordered select-sm w-full max-w-xs">
      {{range .options}}
      <option value="{{.op_value}}" {{if eq .op_value .value}}selected{{end}}>{{.op_label}}</option>
      {{end}}
    </select>
  </div>
  {{else if eq .type "text"}}
  <div class="flex items-center mt-1 w-full lg:w-1/3">
    <label for="filter-{{.name}}" class="label cursor-pointer w-1/3 lg:w-auto">{{.label}}</label>
    <input id="filter-{{.name}}" name="{{.name}}" value="{{.value}}" type="text" placeholder="请输入{{.label}}" class="input input-bordered input-sm w-full max-w-xs" />
  </div>
  {{else if eq .type "toggle"}}
  <div class="flex items-center mt-1 w-full lg:w-1/3">
    <label for="filter-{{.name}}" class="label cursor-pointer w-1/3 lg:w-auto">{{.label}}</label>
    <input id="filter-{{.name}}" name="{{.name}}" {{if .value}}checked{{end}} type="checkbox" class="toggle" />
  </div>
  {{end}}
  {{end}}
  <div class="flex mt-1 lg:w-1/3 md:w-full">
    <button class="btn btn-primary btn-outline btn-sm" type="submit">查询</button>
    <button class="reset btn btn-sm ml-2" type="button">重置</button>
  </div>
</form>
<script type="module">
  import {$} from "/public/static/main.js"

  $(() => {
    $('.reset').on('click', () => {
      window.location.href = window.location.pathname
    })
  })
</script>
{{end}}
