{{define "component/grid/table"}}
<table class="table table-pin-rows table-pin-cols">
  <!-- head -->
  <thead>
    <tr>
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <th>Name</th>
      <th>Job</th>
      <th>Favorite Color</th>
    </tr>
  </thead>
  <tbody>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Cy Ganderton</td>
      <td>Quality Control Specialist</td>
      <td>Blue</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Hart Hagerty</td>
      <td>Desktop Support Technician</td>
      <td>Purple</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
    <tr class="hover">
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <td>Brice Swyre</td>
      <td>Tax Accountant</td>
      <td>Red</td>
    </tr>
  </tbody>
</table>
<div class="mt-2 mb-20 flex justify-end">
  {{template "component/grid/paging" .}}
</div>
{{end}}
