{{define "admin/user/create"}}

{{if .isModal}}
  {{template "head" .}}
{{else}}
  {{template "admin/head" .}}
{{end}}

{{template "component/grid/form" .form}}

{{if .isModal}}
  {{template "foot" .}}
{{else}}
  {{template "admin/foot" .}}
{{end}}
{{end}}
